@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_footer';
@import 'modules/_homepage';
@import 'modules/_errors';
@import 'modules/_contact';



.hidden {display: none;}

body {
    background-color: #fff; 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


h1, h2, h3, p {color: $grey}