.headerCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 30px 10px 30px;
}

.mainlogo img {
  width: 40px;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainNav a {
  text-decoration: none;
  margin-left: 30px;
  color: #416db5;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainNav li {
  display: block;
}

@media screen and (min-width: 720px) {
  .mainlogo img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .mainlogo img {
    width: 55px;
  }
  .headerCon {
    margin: 20px 30px 30px 30px;
  }
}

footer {
  background-color: #aaaaaa;
  width: 100%;
  text-align: center;
}

.footer-logo img {
  width: 40px;
  margin: 20px 0 10px 0;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialMedia .socialIcon {
  padding: 10px;
}

.socialMedia a {
  opacity: 1;
  filter: invert(100%) brightness(50%);
  -webkit-filter: invert(100%) brightness(50%);
}

.copyright {
  font-size: 11px;
  font-weight: 500;
  color: white;
  padding-bottom: 20px;
  margin: 0;
}

.homeBG {
  margin: 20px 15px 0 15px;
}

.homeBG img {
  width: 100%;
}

.homeCon {
  margin: 0 15px;
  border: 0.6px solid;
}

.homeCon h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 70px;
  margin: 0 auto 40px 30px;
  color: #416db5;
}

.homeCon p {
  font-size: 12px;
  font-weight: 500;
  margin: 0 30px 30px 30px;
  line-height: 17px;
}

.videoCon {
  margin-top: 50px;
}

.videoCon video {
  max-width: 100%;
}

.skillsCon {
  text-align: center;
  padding: 0 40px;
}

.skillsCon h1 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 30px;
}

.skillsCon p {
  font-size: 16px;
}

.skillsCon div {
  margin-bottom: 50px;
}

#skills {
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin: 40px 0 55px 0;
}

@media screen and (min-width: 680px) {
  .homeCon {
    border: 1px solid;
  }
  .homeCon h1 {
    font-size: 123px;
    line-height: 134px;
  }
  .homeCon p {
    font-size: 18px;
    line-height: 28px;
    margin: 0 150px 50px 30px;
  }
  .homeskills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skillsCon {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .homeCon {
    border: 1.6px solid;
  }
  .homeCon h1 {
    font-size: 190px;
    line-height: 221px;
    margin: 0 auto 60px 60px;
  }
  .homeCon p {
    font-size: 24px;
    line-height: 40px;
    margin: 0 180px 50px 60px;
  }
}

.workCon {
  padding: 0 15px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.work .user-panel {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 60px;
}

.work .user-panel .u-faceimg {
  max-width: 100%;
  border: 0.8px solid #606060;
}

.work .user-panel h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 25px 0 12px 0;
}

.work .user-panel h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .user-panel {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 1 366px !important;
            flex: 0 1 366px !important;
  }
  .user-panel .u-faceimg {
    max-width: 366px;
  }
}

.promain {
  max-width: 100%;
}

.projectbody {
  padding: 0 24px;
}

.projectbody h1 {
  font-size: 23px;
  font-weight: 600;
  margin: 50px 0 25px 0;
}

.projectbody p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 50px 0;
  max-width: 48em;
}

.projectbody video {
  max-width: 100%;
  border: 0.5px solid #606060;
}

@media screen and (min-width: 767px) {
  .projectbody {
    margin: 0 35px;
  }
  .projectbody h1 {
    font-size: 31px;
  }
  .projectbody p {
    font-size: 18px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1028px) {
  .projectbody {
    margin: 0 100px;
  }
  .projectbody h1 {
    font-size: 45px;
  }
  .projectbody p {
    font-size: 18px;
    line-height: 1.7;
  }
}

.inforCon {
  background-color: #416db5;
  padding: 50px 0;
}

.infor {
  text-align: center;
}

.infor h1 {
  font-size: 22px;
  color: white;
  margin-bottom: 40px;
}

.infoT {
  margin-bottom: 24px;
}

.infoT h2 {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
}

.send {
  margin: 0 10px;
  padding: 50px 0;
}

.send h1 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.send h2 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  margin: 30px 0;
}

input[type=text] {
  width: 100%;
  background-color: #ffffff;
  font-size: 13px;
  color: #606060;
  border-bottom: #416db5 solid 2px;
  border-top: white;
  border-left: white;
  border-right: white;
  padding-bottom: 10px;
}

.emailform {
  margin-left: 30px;
}

.form-title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.form-title {
  margin-bottom: 30px;
}

.submit {
  background-color: #416db5;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.submit:hover {
  color: white;
  background-color: #606060;
}

@media screen and (min-width: 640px) {
  .inforCon {
    position: relative;
  }
  .infor {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
  }
  .contactCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .inforCon {
    width: 30%;
  }
  .sendCon {
    width: 70%;
  }
  .send {
    margin: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .send {
    padding: 40px 0;
  }
  .send h1 {
    font-size: 30px;
    line-height: 33px;
  }
  .send h2 {
    font-size: 16px;
    line-height: 20px;
  }
  input[type=text] {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .infor h1 {
    font-size: 35px;
  }
  .infoT h2 {
    font-size: 20px;
  }
  .send {
    padding: 80px 50px;
  }
  .send h1 {
    font-size: 40px;
    line-height: 47px;
  }
  .send h2 {
    font-size: 22px;
    line-height: 28px;
    margin: 55px 0;
  }
  input[type=text] {
    font-size: 22px;
  }
}

.hidden {
  display: none;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, p {
  color: #606060;
}
/*# sourceMappingURL=main.css.map */