<section class="contactCon">

<section class="inforCon">
    <div class="infor">
            <h1>Information</h1>

            <div class="infoT canada">
                <h2>Canada Number</h2>
                <h2>+01-519-694-4360</h2>
            </div>

            <div class="infoT korea">
                <h2>Korea Number</h2>
                <h2>+82-10-7794-4360</h2>
            </div>

            <div class="infoT email">
                <h2>Email</h2>
                <h2>hrkim@hyerynkim.com</h2>
            </div>            
    </div>
</section>


<section class="sendCon">
    <div class="send">
            <h1>Don’t be a stranger<br>Just say hello</h1>
            <h2>Feel free to get in touch with me. I am always open to<br>
                discussing new project, creative ideas or oppertunities to<br>
                be part of your vision.</h2>

            <div class="form">
                <div class="form-title1">
                    <input type="text" name="person name" placeholder="Name*" >
                    <input type="text" name="email" placeholder="Email*" class="emailform">
                </div>

                <div class="form-title">
                    <input type="text"name="subject" placeholder="Subject*">
                </div>

                <div class="form-title">
                    <input type="text"name="message" placeholder="Message*">
                </div>


                    <input type="submit" value="Submit" class="submit">  
            </div>
    </div>
</section>

</section>