<section class="homeCon">
    <div class="homeBG">
        <img src="images/home_bg.svg" alt="home background">
    </div>

    <h1>
        KIM<br>HYERYN
    </h1>

    <p>
        Hello and welcome to HERN.
        <br><br>
        My name is Hyeryn. I work in web design, brand strategy and ideation, video production, motion graphics, and sound design. <br>
        I'm focused on producing branded content, corporate video shoots and edited productions. When I do creative design activities, my passion for seeing things from different angles helps to form the most exciting images on the screen. The result of this process is to engage the audience and to produce media that can be persuaded. I also strive to create a creative vision by emphasizing efficient communication with customers and companies.
    </p>
</section>
