<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/ico" sizes= "16x16" href="/images/toplogo.ico">
  <link rel="stylesheet" href="/css/main.css">
  <title>HERN - Hyeryn Kim</title>
</head>

<body>
  <div class="headerCon">
      <div class="mainlogo">
          <a href="/">
              <img src="/images/logo.svg" alt="mainlogo">
          </a>
      </div>

      <nav class="mainNav" data-module="nav">
        <h2 class="hidden">Main Navigation</h2>
        <ul class="menu">
          <li><a href="/work">Work</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
  </div>

  <main>
    {{{body}}}
  </main>


  <footer>
      <div class="footer-logo">
          <a href="/">
              <img src="/images/logo.svg" alt="footerlogo">
          </a>
      </div>
      <section class="socialMedia">
        <h2 class="hidden">Social Media</h2>
            <a href="https://www.instagram.com/hern_hyerynkim/" target="_blank">
            <img class="socialIcon" src="/images/social_instagram.svg" alt="Instagram icon" width="25" height="25">
            </a>

            <a href="https://www.linkedin.com/in/hyeryn-kim/" target="_blank">
            <img class="socialIcon" src="/images/social_linkedin.svg" alt="linkedin icon" width="25" height="25">
            </a>

            <a href="https://www.youtube.com/channel/UCr8sLMVnAHn0Y44CLMIt6-g?" target="_blank">
            <img class="socialIcon" src="/images/social_youtube.svg" alt="Youtube icon" width="25" height="25">
            </a>                        
      </section>
      <p class="copyright">© 2019 hyerynkim. All rights reserved.</p>
  </footer>

  {{!-- <script type="module" src="js/main.js"></script> --}}

</body>

</html>