footer {
    background-color: $footer-grey;
    width: 100%;
    text-align: center;
}

.footer-logo img {
    width: 40px;
    margin: 20px 0 10px 0;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .socialIcon {
        padding: 10px;
    }

    a {
        opacity: 1;
        filter: invert(100%) brightness(50%);
        -webkit-filter: invert(100%) brightness(50%);
    }
}

.copyright {
    font-size: 11px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
    margin: 0;
}
