.headerCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 30px 10px 30px;
}

.mainlogo img {
    width: 40px;
}

.mainNav {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        margin-left: 30px;
        color: $main-color;
    }

    ul {display: flex;}

    li {display: block;}
}



@media screen and (min-width:720px){
    .mainlogo img {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width:1024px){
    .mainlogo img {
        width: 55px;
    }
    .headerCon {
        margin: 20px 30px 30px 30px;
    }
}