.promain {
    max-width: 100%;
}

.projectbody {
    padding: 0 24px;

    h1 {
        font-size: 23px;
        font-weight: 600;
        margin: 50px 0 25px 0;
    }

    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0 0 50px 0;
        max-width: 48em;
    }

    video {
        max-width: 100%;
        border: 0.5px solid $grey;
        margin-bottom: 50px;;
    }
}

.proimg {max-width: 100%; margin-bottom: 15px;}







@media screen and (min-width: 767px) {
    .projectbody {
        margin: 0 35px;
        
        h1 {
            font-size: 31px;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }
    }
}

@media screen and (min-width: 1028px) {
    .projectbody {
        margin: 0 100px;

        h1 {
            font-size: 45px;
        }

        p {
            font-size: 18px;
            line-height: 1.7;
        }
    }
}

